body{ background-color: #4EA3D8;
}
. header {
  background-color: #f1f1f1;
padding: 20px;
text-align: center;
}
/*Style the header*/
. topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
. grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'menu main main main main main'
  'menu footer footer footer footer footer';
  grid-gap: 5px;
  background-color: blue;
  padding: 5px;

}
g1{
  grid-area: main;
}
h1{
  text-align: center;
  font-family: sans-serif;
  color: #F4E838;
}
