background{
  color: black;
}
table, th, td{
  color: blue;
  border: 1px solid #3b424f;
  border-collapse: collapse;
}
th, td{
  padding: 5px;
  text-align: left;
}
img{
  width: 500px;
  height: 500px;
}
